@import "settings";
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/grid";

%prevent-text-breakouts {
  -ms-word-break: break-all;
	  word-break: break-all;
	  word-break: break-word;
  -webkit-hyphens: auto;
	 -moz-hyphens: auto;
		  hyphens: auto;
}

.container {padding: $paragraph-font-size*3 2%;
	&.footer {
		background-color: $monsoon;
		li li a {font-size: .8em;}
	}
	&.teaser {
		width: 100%;
		height: 100%;
	}

	&.header {
		position: fixed;
		width: 100%;
		height: auto;
		top: 0;left: 0;
		background-color: #fefefe;
		z-index: 5;
		padding-top: 0;
		padding-bottom: 0;
	}
	&.copyrights {
		background-color: $charcoal;
		padding-bottom: $paragraph-font-size;
		padding-top: $paragraph-font-size;
		p {margin: 0;}
		color: $monsoon;
		a {
			color: $monsoon;
		}
	}
}

section.row {
	padding-bottom: $paragraph-font-size*3;
	padding-top: $paragraph-font-size*3;
}

ul {
	&.no-bullet {
		li {
			ul,
			ol {
			margin-#{$default-float}: 0;
			}
		}
	}
}


h3 {
	font-weight: 600;
	font-size: $paragraph-font-size;
}

// p {@extend %prevent-text-breakouts;}

.listing {
	li {
		margin-bottom: $paragraph-font-size;
		margin-top: $paragraph-font-size;
		@include grid-column(12);
		@media #{$medium-only} { 
			@include grid-column(6);
			&:nth-of-type(2n+1) {clear: left;}
		}
		@media #{$large-up} { 
			@include grid-column(4);
			&:nth-of-type(3n+1) {clear: left;}
		}
		@media #{$large-up} { 
			@include grid-column(4);
			&:nth-of-type(3n+1) {clear: left;}
		}
		br + a {font-size: .8em;}
	}
}

.listing-imaged {
	li {
		@include grid-column(4);
		@media #{$small-only} { 
			&:nth-of-type(3n+1) {clear: left;}
		}
		@media #{$medium-only} { 
			@include grid-column(3);
			&:nth-of-type(4n+1) {clear: left;}
		}
		@media #{$large-up} { 
			@include grid-column(2);
			&:nth-of-type(6n+1) {clear: left;}
		}
	}
}


textarea {
	resize: vertical;
	min-height: $paragraph-font-size*6;
}


span.ic {
		font-size: 1.5em;
		display: inline;
		vertical-align: baseline;
		line-height: 0.5;
		position: relative;
		top: 0.1em;
		margin-right: 0.5em;
		margin-left: 0.25em;
		color: $header-font-color;
}


.teaser {
	background-image: url("../imgs/showimg.jpg");
	background-position: center right;
	background-size: cover;
}

.order {
	background-image: url("../imgs/34 East Coast Race1.jpg");
	background-position: center left;
	background-size: cover;
}


.revert {
	color: $smoke;
	@for $i from 1 through 3 {
		h#{$i} { color: white;
		}
	}
	a {
		color: $smoke;
		&:hover,
		&:focus {
			color: $white;
		}
	}
	span.ic {
		color:$white;
	}
}
