@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/exo_2.0_thin.eot');
	src: url('../fonts/exo_2.0_thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/exo_2.0_thin.woff') format('woff'),
		 url('../fonts/exo_2.0_thin.ttf') format('truetype'),
		 url('../fonts/exo_2.0_thin.svg#exo_2.0thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/exo_2.0_light.eot');
	src: url('../fonts/exo_2.0_light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/exo_2.0_light.woff') format('woff'),
		 url('../fonts/exo_2.0_light.ttf') format('truetype'),
		 url('../fonts/exo_2.0_light.svg#exo_2.0light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/exo_2.0_medium.eot');
	src: url('../fonts/exo_2.0_medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/exo_2.0_medium.woff') format('woff'),
		 url('../fonts/exo_2.0_medium.ttf') format('truetype'),
		 url('../fonts/exo_2.0_medium.svg#exo_2.0medium') format('svg');
	font-weight: 600;
	font-style: normal;
}


